.game {
  .question {
    font-size: 5em;

    &.animate {
      animation: pop 0.4s;
    }
  }

  .answer {
    font-size: 5em;
    width: 20%;
    text-align: center;
  }

  .result-row.correct {
    background-color: #9cdbad;
  }

  .result-row.incorrect {
    background-color: #eb9696;
  }

  table {    
    font-size: 1.5em;
  }

  @media (max-width: 600px) {
    table {
      width: 310px;
      font-size: 0.9em;
    }
  }

  @media (min-width: 601px) and (max-width: 1000px) {
    table {
      width: 500px;
      font-size: 1.1em;
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
