.game {
  .question {
    font-size: 5em;
  }

  .answer {
    font-size: 5em;
    width: 20%;
    text-align: center;
  }

  .result-row.correct {
    background-color: #9cdbad
  }

  .result-row.incorrect {
    background-color: #eb9696
  }
  
  font-size: 1.5em;
}
